bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

*.dll
*.exe
*.out
*.app
*.pdb

.vs/
*.vscode/
.vscode/

.idea/

*.log

appsettings.json
.env

*.nupkg
packages/
.nuget/

.DS_Store
Thumbs.db

*.tar
*.gz

coverage/
TestResults/