@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - teste</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a asp-controller="Usuario" asp-action="Index" class="btn btn-primary">Gerenciar Usuários</a>

    <a asp-controller="Endereco" asp-action="Index" class="btn btn-primary">Gerenciar Enderecos</a>
</div>
